# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase credentials
firebase-adminsdk.json
*-firebase-adminsdk-*.json
serviceAccountKey.json
server/serviceAccountKey.json

# Vite
.vite/

# Testing
coverage

VITE_FIREBASE_API_KEY=AIzaSyAfb2YtBxD5YEWrNpG0J3GN_g0ZfPzsoOE
VITE_FIREBASE_AUTH_DOMAIN=sports-card-analyzer.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sports-card-analyzer
VITE_FIREBASE_STORAGE_BUCKET=sports-card-analyzer.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=27312906394
VITE_FIREBASE_APP_ID=1:27312906394:web:11296b8bb530daad5a7f23
VITE_FIREBASE_MEASUREMENT_ID=G-YNZTKCHQT0

VITE_SCRAPER_API=http://localhost:8000 server/serviceAccountKey.json
.env
server/serviceAccountKey.json
.env
